.container {
  font-family: "Roboto", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

button {
  margin: 5px;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.mat-list-item {
  text-align: left;
}
