<div class="container">
  <h2>{{ title }}</h2>

  <mat-form-field>
    <input matInput type="text" [(ngModel)]="counter" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="add()">Tambah</button>
  <button mat-raised-button color="warn" (click)="substract()">Tolak</button>
  <br /><label>Value: {{ counter }}</label>

  <br /><br />
  <mat-form-field>
    <input
      matInput
      type="text"
      [(ngModel)]="name"
      placeholder="Please enter name"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addUser()">
    Add Name
  </button>
  <mat-list>
    <mat-list-item *ngFor="let n of nameList">{{ n }}</mat-list-item>
  </mat-list>
</div>
